.AppForm {
    text-align: left;
    padding: 10px;
}

.AppResult {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .bold_underline {
        font-weight: bold;
        font-size: 14pt;
        text-decoration: underline;
    }

    .bold_normal {
        font-weight: bold;
    }

    .txt_bold_red {
        font-weight: bold;
        color: rgb(185, 5, 5)
    }

    .txt_italic {
        font-style: italic;
        white-space: pre;
    }

    .form_div {
        input[type=text] {
            width: 100%;
        }
    }
}